<a href="https://colab.research.google.com/github/supatsara2002/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูลของ กรม อุตุ ([link](https:/https://drive.google.com/drive/u/0/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4/)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ

![Screenshot 2566-01-11 at 09.44.31.png]()

In [1]:
import pandas as pd
import json

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# ความกด
kk_pres = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_pres = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_pres = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4)
nk_pres = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_pres = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [4]:
#ความชื้น
kk_hu = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_hu = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_hu = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4)
nk_hu = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_hu = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [5]:
#อุณหภูมิตุ้มแห้ง
kk_dry = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_dry = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_dry = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4)
nk_dry = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_dry = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [6]:
#อุณหภูมิจุดน้ำค้าง
kk_dewp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_dewp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_dewp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4)
nk_dewp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_dewp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [7]:
#อุณหภูมิต่ำสุด
kk_lowt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_lowt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_lowt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4)
nk_lowt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_lowt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [8]:
#จำนวนเมฆ
kk_cl = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_cl = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_cl = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4)
nk_cl = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_cl = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [9]:
#ปริมาณฝน
kk_rain = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_rain = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_rain = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4)
nk_rain = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_rain = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [10]:
#ความเร็วลม
kk_wind = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
np_wind = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
sk_wind = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4)
nk_wind = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
l_wind = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

## ความกด(_pres)

In [11]:
kk_pres.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000

In [12]:
kk_pres.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_pres.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_pres.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_pres.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_pres.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [13]:
kk_pres['เดือน'] = kk_pres['เดือน/ปี'].dt.month
kk_pres['ปี'] = kk_pres['เดือน/ปี'].dt.year

In [14]:
kk_pres.head(2)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,10,2011
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,11,2011

In [15]:
kk_pres['จังหวัด'] = "ขอนแก่น"
kk_pres1 = kk_pres.drop(['ที่','เดือน/ปี'],axis=1)
kk_pres1.head(2)

,สถานี,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี,จังหวัด
0,352201-หนองคาย จ.หนองคาย,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,1010.2,1010.14,...,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,10,2011,ขอนแก่น
1,352201-หนองคาย จ.หนองคาย,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,1007.2,1009.68,...,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,11,2011,ขอนแก่น

In [16]:
kk_pres1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)

In [17]:
kk_pres1.head(2)

                                                   1        2        3  \
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1005.47  1006.65  1007.49
                                 11    2011  1011.79  1010.83  1010.74

                                                   4        5        6  \
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1008.28  1009.88  1011.36
                                 11    2011  1010.71  1010.09  1009.24

                                                   7       8        9  \
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1011.17  1010.2  1010.14
                                 11    2011  1008.03  1007.2  1009.68

                                                  10  ...       23       24  \
จังหวัด สถานี                    เดือน ปี             ...
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1010.60  ...  1010.76  1010.23
                                 11    2011  1011.96  ...  1014.07  1015.40

                                                  25       26       27  \
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1011.34  1011.84  1011.89
                                 11    2011  1013.95  1012.35  1011.31

                                                  28       29       30  \
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1012.29  1011.67   1011.3
                                 11    2011  1009.59  1010.13  1010.47

                                                  31       เฉลี่ย
จังหวัด สถานี                    เดือน ปี
ขอนแก่น 352201-หนองคาย จ.หนองคาย 10    2011  1011.52  1010.350645
                                 11    2011        -  1011.717000

[2 rows x 32 columns]

In [18]:
kk_pres2 = kk_pres1.stack().reset_index()

In [19]:
kk_pres2.head(2)

   จังหวัด                     สถานี  เดือน    ปี level_4        0
0  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       1  1005.47
1  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       2  1006.65

In [92]:
kk_pres2.rename(columns = {'level_4':'วัน',0:'ความกด'}, inplace = True)
kk_pres3 = kk_pres2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
kk_pres3

      จังหวัด                     สถานี     วัน  เดือน    ปี       ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.88
...       ...                       ...     ...    ...   ...          ...
1755  ขอนแก่น  352201-หนองคาย จ.หนองคาย      28      2  2022      1013.04
1756  ขอนแก่น  352201-หนองคาย จ.หนองคาย      29      2  2022      1013.37
1757  ขอนแก่น  352201-หนองคาย จ.หนองคาย      30      2  2022      1013.98
1758  ขอนแก่น  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  ขอนแก่น  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.456667

[1760 rows x 6 columns]

In [93]:
np_pres['เดือน'] = np_pres['เดือน/ปี'].dt.month
np_pres['ปี'] = np_pres['เดือน/ปี'].dt.year
np_pres['จังหวัด'] = "นครพนม"
np_pres1 = np_pres.drop(['ที่','เดือน/ปี'],axis=1)
np_pres1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_pres2 = np_pres1.stack().reset_index()
np_pres2.rename(columns = {'level_4':'วัน',0:'ความกด'}, inplace = True)
np_pres3 = np_pres2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
np_pres3

     จังหวัด                     สถานี     วัน  เดือน    ปี    ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย       1     10  2011    1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย       2     10  2011   1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย       3     10  2011   1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย       4     10  2011   1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย       5     10  2011   1010.51
...      ...                       ...     ...    ...   ...       ...
1755  นครพนม  352201-หนองคาย จ.หนองคาย      28      2  2022   1013.53
1756  นครพนม  352201-หนองคาย จ.หนองคาย      29      2  2022   1013.37
1757  นครพนม  352201-หนองคาย จ.หนองคาย      30      2  2022   1013.98
1758  นครพนม  352201-หนองคาย จ.หนองคาย      31      2  2022         -
1759  นครพนม  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1013.526

[1760 rows x 6 columns]

In [94]:
sk_pres['เดือน'] = sk_pres['เดือน/ปี'].dt.month
sk_pres['ปี'] = sk_pres['เดือน/ปี'].dt.year
sk_pres['จังหวัด'] = "สกลนคร"
sk_pres1 = sk_pres.drop(['ที่','เดือน/ปี'],axis=1)
sk_pres1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_pres2 = sk_pres1.stack().reset_index()
sk_pres2.rename(columns = {'level_4':'วัน',0:'ความกด'}, inplace = True)
sk_pres3 = sk_pres2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
sk_pres3

     จังหวัด                     สถานี     วัน  เดือน    ปี       ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย       2     10  2011      1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย       5     10  2011      1010.55
...      ...                       ...     ...    ...   ...          ...
1755  สกลนคร  352201-หนองคาย จ.หนองคาย      28      2  2022      1012.89
1756  สกลนคร  352201-หนองคาย จ.หนองคาย      29      2  2022      1013.37
1757  สกลนคร  352201-หนองคาย จ.หนองคาย      30      2  2022      1013.98
1758  สกลนคร  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  สกลนคร  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.840333

[1760 rows x 6 columns]

In [95]:
nk_pres['เดือน'] = nk_pres['เดือน/ปี'].dt.month
nk_pres['ปี'] = nk_pres['เดือน/ปี'].dt.year
nk_pres['จังหวัด'] = "หนองคาย"
nk_pres1 = nk_pres.drop(['ที่','เดือน/ปี'],axis=1)
nk_pres1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_pres2 = nk_pres1.stack().reset_index()
nk_pres2.rename(columns = {'level_4':'วัน',0:'ความกด'}, inplace = True)
nk_pres3 = nk_pres2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
nk_pres3

      จังหวัด                     สถานี     วัน  เดือน    ปี       ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.69
...       ...                       ...     ...    ...   ...          ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022      1013.06
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022            -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022            -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.519286

[1760 rows x 6 columns]

In [96]:
l_pres['เดือน'] = l_pres['เดือน/ปี'].dt.month
l_pres['ปี'] = l_pres['เดือน/ปี'].dt.year
l_pres['จังหวัด'] = "เลย"
l_pres1 = l_pres.drop(['ที่','เดือน/ปี'],axis=1)
l_pres1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_pres2 = l_pres1.stack().reset_index()
l_pres2.rename(columns = {'level_4':'วัน',0:'ความกด'}, inplace = True)
l_pres3 = l_pres2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
l_pres3

     จังหวัด                     สถานี     วัน  เดือน    ปี       ความกด
0        เลย  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.12
1        เลย  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.51
2        เลย  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.81
3        เลย  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.15
4        เลย  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.21
...      ...                       ...     ...    ...   ...          ...
1755     เลย  352201-หนองคาย จ.หนองคาย      28      2  2022      1012.88
1756     เลย  352201-หนองคาย จ.หนองคาย      29      2  2022            -
1757     เลย  352201-หนองคาย จ.หนองคาย      30      2  2022            -
1758     เลย  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759     เลย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.366071

[1760 rows x 6 columns]

## ความชื้น(_hu)

In [22]:
kk_hu.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_hu.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_hu.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_hu.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_hu.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [45]:
kk_hu['เดือน'] = kk_hu['เดือน/ปี'].dt.month
kk_hu['ปี'] = kk_hu['เดือน/ปี'].dt.year

In [46]:
kk_hu.head(2)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,69,69,75,71,71,68,79,ขอนแก่น,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,67,68,67,67,65,-,68,ขอนแก่น,11,2011

In [100]:
kk_hu['จังหวัด'] = "ขอนแก่น"
kk_hu1 = kk_hu.drop(['ที่','เดือน/ปี'],axis=1)
kk_hu1.head(2)

,สถานี,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
0,381201-ขอนแก่น จ.ขอนแก่น,83,92,86,80,86,86,83,82,82,...,69,69,75,71,71,68,79,ขอนแก่น,10,2011
1,381201-ขอนแก่น จ.ขอนแก่น,71,65,68,65,65,68,69,69,80,...,67,68,67,67,65,-,68,ขอนแก่น,11,2011

In [101]:
kk_hu1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)

In [102]:
kk_hu2 = kk_hu1.stack().reset_index()

In [103]:
kk_hu2.rename(columns = {'level_4':'วัน',0:'ความชื้น'}, inplace = True)
kk_hu3 = kk_hu2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้น']]
kk_hu3

      จังหวัด                     สถานี     วัน  เดือน    ปี ความชื้น
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011       83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011       92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011       86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011       80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011       86
...       ...                       ...     ...    ...   ...      ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022       62
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022        -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022        -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022        -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022       69

[1760 rows x 6 columns]

In [104]:
np_hu['เดือน'] = np_hu['เดือน/ปี'].dt.month
np_hu['ปี'] = np_hu['เดือน/ปี'].dt.year
np_hu['จังหวัด'] = "นครพนม"
np_hu1 = np_hu.drop(['ที่','เดือน/ปี'],axis=1)
np_hu1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_hu2 = np_hu1.stack().reset_index()
np_hu2.rename(columns = {'level_4':'วัน',0:'ความชื้น'}, inplace = True)
np_hu3 = np_hu2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้น']]
np_hu3

     จังหวัด                   สถานี     วัน  เดือน    ปี ความชื้น
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011       95
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011       84
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011       74
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011       72
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011       87
...      ...                     ...     ...    ...   ...      ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022       60
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022        -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022        -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022        -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022       64

[1760 rows x 6 columns]

In [105]:
sk_hu['เดือน'] = sk_hu['เดือน/ปี'].dt.month
sk_hu['ปี'] = sk_hu['เดือน/ปี'].dt.year
sk_hu['จังหวัด'] = "สกลนคร"
sk_hu1 = sk_hu.drop(['ที่','เดือน/ปี'],axis=1)
sk_hu1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_hu2 = sk_hu1.stack().reset_index()
sk_hu2.rename(columns = {'level_4':'วัน',0:'ความชื้น'}, inplace = True)
sk_hu3 = sk_hu2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้น']]
sk_hu3

     จังหวัด                   สถานี     วัน  เดือน    ปี ความชื้น
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011       87
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011       88
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011       77
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011       75
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011       87
...      ...                     ...     ...    ...   ...      ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022       68
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022        -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022        -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022        -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022       73

[1760 rows x 6 columns]

In [106]:
nk_hu['เดือน'] = nk_hu['เดือน/ปี'].dt.month
nk_hu['ปี'] = nk_hu['เดือน/ปี'].dt.year
nk_hu['จังหวัด'] = "หนองคาย"
nk_hu1 = nk_hu.drop(['ที่','เดือน/ปี'],axis=1)
nk_hu1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_hu2 = nk_hu1.stack().reset_index()
nk_hu2.rename(columns = {'level_4':'วัน',0:'ความชื้น'}, inplace = True)
nk_hu3 = nk_hu2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้น']]
nk_hu3

      จังหวัด                     สถานี     วัน  เดือน    ปี ความชื้น
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011       89
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011       91
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011       78
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011       75
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011       90
...       ...                       ...     ...    ...   ...      ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022       65
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022        -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022        -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022        -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022       71

[1760 rows x 6 columns]

In [107]:
l_hu['เดือน'] = l_hu['เดือน/ปี'].dt.month
l_hu['ปี'] = l_hu['เดือน/ปี'].dt.year
l_hu['จังหวัด'] = "เลย"
l_hu1 = l_hu.drop(['ที่','เดือน/ปี'],axis=1)
l_hu1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_hu2 = l_hu1.stack().reset_index()
l_hu2.rename(columns = {'level_4':'วัน',0:'ความชื้น'}, inplace = True)
l_hu3 = l_hu2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้น']]
l_hu3

     จังหวัด                  สถานี     วัน  เดือน    ปี ความชื้น
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011       90
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011       95
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011       92
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011       89
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011       86
...      ...                    ...     ...    ...   ...      ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022       72
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022        -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022        -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022        -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022       80

[1760 rows x 6 columns]

## อุณหภูมิตั้มแห้ง (_dry)

In [28]:
kk_dry.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_dry.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_dry.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_dry.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_dry.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [108]:
kk_dry['เดือน'] = kk_dry['เดือน/ปี'].dt.month
kk_dry['ปี'] = kk_dry['เดือน/ปี'].dt.year
kk_dry['จังหวัด'] = "ขอนแก่น"
kk_dry1 = kk_dry.drop(['ที่','เดือน/ปี'],axis=1)
kk_dry1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_dry2 = kk_dry1.stack().reset_index()
kk_dry2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
kk_dry3 = kk_dry2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
kk_dry3

      จังหวัด                     สถานี     วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011             24.3
...       ...                       ...     ...    ...   ...              ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022             25.9
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022                -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022                -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022                -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022             24.6

[1760 rows x 6 columns]

In [109]:
np_dry['เดือน'] = np_dry['เดือน/ปี'].dt.month
np_dry['ปี'] = np_dry['เดือน/ปี'].dt.year
np_dry['จังหวัด'] = "นครพนม"
np_dry1 = np_dry.drop(['ที่','เดือน/ปี'],axis=1)
np_dry1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_dry2 = np_dry1.stack().reset_index()
np_dry2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
np_dry3 = np_dry2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
np_dry3

     จังหวัด                   สถานี     วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011             25.9
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011             26.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011             25.3
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011             24.7
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011             23.1
...      ...                     ...     ...    ...   ...              ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022             24.0
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022             23.2

[1760 rows x 6 columns]

In [110]:
sk_dry['เดือน'] = sk_dry['เดือน/ปี'].dt.month
sk_dry['ปี'] = sk_dry['เดือน/ปี'].dt.year
sk_dry['จังหวัด'] = "สกลนคร"
sk_dry1 = sk_dry.drop(['ที่','เดือน/ปี'],axis=1)
sk_dry1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_dry2 = sk_dry1.stack().reset_index()
sk_dry2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
sk_dry3 = sk_dry2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
sk_dry3

     จังหวัด                   สถานี     วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011             26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011             25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011             25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011             25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011             23.6
...      ...                     ...     ...    ...   ...              ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022             24.4
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022             22.8

[1760 rows x 6 columns]

In [111]:
nk_dry['เดือน'] = nk_dry['เดือน/ปี'].dt.month
nk_dry['ปี'] = nk_dry['เดือน/ปี'].dt.year
nk_dry['จังหวัด'] = "หนองคาย"
nk_dry1 = nk_dry.drop(['ที่','เดือน/ปี'],axis=1)
nk_dry1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_dry2 = nk_dry1.stack().reset_index()
nk_dry2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
nk_dry3 = nk_dry2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
nk_dry3

      จังหวัด                     สถานี     วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011             26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011             25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011             27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011             26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011             24.9
...       ...                       ...     ...    ...   ...              ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022             25.4
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022                -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022                -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022                -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022             23.7

[1760 rows x 6 columns]

In [112]:
l_dry['เดือน'] = l_dry['เดือน/ปี'].dt.month
l_dry['ปี'] = l_dry['เดือน/ปี'].dt.year
l_dry['จังหวัด'] = "เลย"
l_dry1 = l_dry.drop(['ที่','เดือน/ปี'],axis=1)
l_dry1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_dry2 = l_dry1.stack().reset_index()
l_dry2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
l_dry3 = l_dry2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
l_dry3

     จังหวัด             สถานี     วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0        เลย  353201-เลย จ.เลย       1     10  2011             26.3
1        เลย  353201-เลย จ.เลย       2     10  2011             25.1
2        เลย  353201-เลย จ.เลย       3     10  2011             24.4
3        เลย  353201-เลย จ.เลย       4     10  2011             25.2
4        เลย  353201-เลย จ.เลย       5     10  2011             25.6
...      ...               ...     ...    ...   ...              ...
1595     เลย  353201-เลย จ.เลย      28      2  2021             25.6
1596     เลย  353201-เลย จ.เลย      29      2  2021                -
1597     เลย  353201-เลย จ.เลย      30      2  2021                -
1598     เลย  353201-เลย จ.เลย      31      2  2021                -
1599     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2021             24.1

[1600 rows x 6 columns]

## อุณหภูมิจุดน้ำค้าง (_dewp)

In [31]:
kk_dewp.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_dewp.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_dewp.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_dewp.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_dewp.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [113]:
kk_dewp['เดือน'] = kk_dewp['เดือน/ปี'].dt.month
kk_dewp['ปี'] = kk_dewp['เดือน/ปี'].dt.year
kk_dewp['จังหวัด'] = "ขอนแก่น"
kk_dewp1 = kk_dewp.drop(['ที่','เดือน/ปี'],axis=1)
kk_dewp1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_dewp2 = kk_dewp1.stack().reset_index()
kk_dewp2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
kk_dewp3 = kk_dewp2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
kk_dewp3

,จังหวัด,สถานี,วัน,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,10,2011,24.2
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,10,2011,24.0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,3,10,2011,22.9
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,4,10,2011,21.9
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,5,10,2011,21.7
...,...,...,...,...,...,...
1755,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,28,2,2022,17.5
1756,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,29,2,2022,-
1757,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,30,2,2022,-
1758,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,31,2,2022,-
1759,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,เฉลี่ย,2,2022,17.978571

In [114]:
np_dewp['เดือน'] = np_dewp['เดือน/ปี'].dt.month
np_dewp['ปี'] = np_dewp['เดือน/ปี'].dt.year
np_dewp['จังหวัด'] = "นครพนม"
np_dewp1 = np_dewp.drop(['ที่','เดือน/ปี'],axis=1)
np_dewp1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_dewp2 = np_dewp1.stack().reset_index()
np_dewp2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
np_dewp3 = np_dewp2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
np_dewp3

     จังหวัด                   สถานี     วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011               25.1
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011               23.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011               20.1
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011               18.9
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011               20.7
...      ...                     ...     ...    ...   ...                ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               14.9
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                  -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                  -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                  -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022             15.575

[1760 rows x 6 columns]

In [79]:
sk_dewp['เดือน'] = sk_dewp['เดือน/ปี'].dt.month
sk_dewp['ปี'] = sk_dewp['เดือน/ปี'].dt.year
sk_dewp['จังหวัด'] = "สกลนคร"
sk_dewp1 = sk_dewp.drop(['ที่','เดือน/ปี'],axis=1)
sk_dewp1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_dewp2 = sk_dewp1.stack().reset_index()
sk_dewp2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
sk_dewp3 = sk_dewp2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
sk_dewp3

     จังหวัด                   สถานี  เดือน    ปี     วัน อุณหภูมิจุดน้ำค้าง
0     สกลนคร  356201-สกลนคร จ.สกลนคร     10  2011       1               24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร     10  2011       2               23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร     10  2011       3               21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร     10  2011       4               20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร     10  2011       5               21.2
...      ...                     ...    ...   ...     ...                ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      2  2022      28               17.3
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      2  2022      29                  -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      2  2022      30                  -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      2  2022      31                  -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร      2  2022  เฉลี่ย          17.428571

[1760 rows x 6 columns]

In [115]:
nk_dewp['เดือน'] = nk_dewp['เดือน/ปี'].dt.month
nk_dewp['ปี'] = nk_dewp['เดือน/ปี'].dt.year
nk_dewp['จังหวัด'] = "หนองคาย"
nk_dewp1 = nk_dewp.drop(['ที่','เดือน/ปี'],axis=1)
nk_dewp1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_dewp2 = nk_dewp1.stack().reset_index()
nk_dewp2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
nk_dewp3 = nk_dewp2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
nk_dewp3

,จังหวัด,สถานี,วัน,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,หนองคาย,352201-หนองคาย จ.หนองคาย,1,10,2011,24.6
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2,10,2011,23.8
2,หนองคาย,352201-หนองคาย จ.หนองคาย,3,10,2011,22.4
3,หนองคาย,352201-หนองคาย จ.หนองคาย,4,10,2011,21.9
4,หนองคาย,352201-หนองคาย จ.หนองคาย,5,10,2011,23.3
...,...,...,...,...,...,...
1755,หนองคาย,352201-หนองคาย จ.หนองคาย,28,2,2022,17.8
1756,หนองคาย,352201-หนองคาย จ.หนองคาย,29,2,2022,16.6
1757,หนองคาย,352201-หนองคาย จ.หนองคาย,30,2,2022,14.9
1758,หนองคาย,352201-หนองคาย จ.หนองคาย,31,2,2022,-
1759,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,17.676667

In [116]:
l_dewp['เดือน'] = l_dewp['เดือน/ปี'].dt.month
l_dewp['ปี'] = l_dewp['เดือน/ปี'].dt.year
l_dewp['จังหวัด'] = "เลย"
l_dewp1 = l_dewp.drop(['ที่','เดือน/ปี'],axis=1)
l_dewp1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_dewp2 = l_dewp1.stack().reset_index()
l_dewp2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
l_dewp3 = l_dewp2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
l_dewp3

     จังหวัด             สถานี     วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0        เลย  353201-เลย จ.เลย       1     10  2011               23.6
1        เลย  353201-เลย จ.เลย       2     10  2011               23.5
2        เลย  353201-เลย จ.เลย       3     10  2011               21.9
3        เลย  353201-เลย จ.เลย       4     10  2011               21.9
4        เลย  353201-เลย จ.เลย       5     10  2011               21.8
...      ...               ...     ...    ...   ...                ...
1594     เลย  353201-เลย จ.เลย      28      2  2021               15.2
1595     เลย  353201-เลย จ.เลย      29      2  2021                  -
1596     เลย  353201-เลย จ.เลย      30      2  2021                  -
1597     เลย  353201-เลย จ.เลย      31      2  2021                  -
1598     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2021          15.782143

[1599 rows x 6 columns]

## อุณหภูมิตำ่สุด (_lowt)

In [34]:
kk_lowt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_lowt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_lowt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_lowt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_lowt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [117]:
kk_lowt['เดือน'] = kk_lowt['เดือน/ปี'].dt.month
kk_lowt['ปี'] = kk_lowt['เดือน/ปี'].dt.year
kk_lowt['จังหวัด'] = "ขอนแก่น"
kk_lowt1 = kk_lowt.drop(['ที่','เดือน/ปี'],axis=1)
kk_lowt1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_lowt2 = kk_lowt1.stack().reset_index()
kk_lowt2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตำ่สุด'}, inplace = True)
kk_lowt3 = kk_lowt2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
kk_lowt3

      จังหวัด                     สถานี     วัน  เดือน    ปี อุณหภูมิตำ่สุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011           23.1
...       ...                       ...     ...    ...   ...            ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022              -
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022              -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022              -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022              -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022           20.2

[1760 rows x 6 columns]

In [118]:
np_lowt['เดือน'] = np_lowt['เดือน/ปี'].dt.month
np_lowt['ปี'] = np_lowt['เดือน/ปี'].dt.year
np_lowt['จังหวัด'] = "นครพนม"
np_lowt1 = np_lowt.drop(['ที่','เดือน/ปี'],axis=1)
np_lowt1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_lowt2 = np_lowt1.stack().reset_index()
np_lowt2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตำ่สุด'}, inplace = True)
np_lowt3 = np_lowt2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
np_lowt3

     จังหวัด                   สถานี     วัน  เดือน    ปี อุณหภูมิตำ่สุด
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011           25.0
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011           23.4
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011           22.2
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011           20.6
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011           21.1
...      ...                     ...     ...    ...   ...            ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022             16
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022              -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022              -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022              -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022           18.3

[1760 rows x 6 columns]

In [119]:
sk_lowt['เดือน'] = sk_lowt['เดือน/ปี'].dt.month
sk_lowt['ปี'] = sk_lowt['เดือน/ปี'].dt.year
sk_lowt['จังหวัด'] = "สกลนคร"
sk_lowt1 = sk_lowt.drop(['ที่','เดือน/ปี'],axis=1)
sk_lowt1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_lowt2 = sk_lowt1.stack().reset_index()
sk_lowt2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตำ่สุด'}, inplace = True)
sk_lowt3 = sk_lowt2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
sk_lowt3

     จังหวัด                   สถานี     วัน  เดือน    ปี อุณหภูมิตำ่สุด
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011           24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011           23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011           22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011           21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011           22.5
...      ...                     ...     ...    ...   ...            ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022              -
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022              -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022              -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022              -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022           17.0

[1760 rows x 6 columns]

In [120]:
nk_lowt['เดือน'] = nk_lowt['เดือน/ปี'].dt.month
nk_lowt['ปี'] = nk_lowt['เดือน/ปี'].dt.year
nk_lowt['จังหวัด'] = "หนองคาย"
nk_lowt1 = nk_lowt.drop(['ที่','เดือน/ปี'],axis=1)
nk_lowt1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_lowt2 = nk_lowt1.stack().reset_index()
nk_lowt2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตำ่สุด'}, inplace = True)
nk_lowt3 = nk_lowt2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
nk_lowt3

      จังหวัด                     สถานี     วัน  เดือน    ปี อุณหภูมิตำ่สุด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011           25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011           23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011           23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011           23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011           23.3
...       ...                       ...     ...    ...   ...            ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022             19
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022              -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022              -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022              -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022           19.0

[1760 rows x 6 columns]

In [122]:
l_lowt['เดือน'] = l_lowt['เดือน/ปี'].dt.month
l_lowt['ปี'] = l_lowt['เดือน/ปี'].dt.year
l_lowt['จังหวัด'] = "เลย"
l_lowt1 = l_lowt.drop(['ที่','เดือน/ปี'],axis=1)
l_lowt1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_lowt2 = l_lowt1.stack().reset_index()
l_lowt2.rename(columns = {'level_4':'วัน',0:'อุณหภูมิตำ่สุด'}, inplace = True)
l_lowt3 = l_lowt2[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
l_lowt3

     จังหวัด             สถานี     วัน  เดือน    ปี อุณหภูมิตำ่สุด
0        เลย  353201-เลย จ.เลย       1     10  2011           23.5
1        เลย  353201-เลย จ.เลย       2     10  2011           24.3
2        เลย  353201-เลย จ.เลย       3     10  2011           22.5
3        เลย  353201-เลย จ.เลย       4     10  2011           23.0
4        เลย  353201-เลย จ.เลย       5     10  2011           22.7
...      ...               ...     ...    ...   ...            ...
1755     เลย  353201-เลย จ.เลย      28      2  2022           17.6
1756     เลย  353201-เลย จ.เลย      29      2  2022              -
1757     เลย  353201-เลย จ.เลย      30      2  2022              -
1758     เลย  353201-เลย จ.เลย      31      2  2022              -
1759     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2022           18.3

[1760 rows x 6 columns]

## จำนวนเมฆ (_cl)

In [36]:
kk_cl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_cl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_cl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_cl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_cl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [133]:
kk_cl['เดือน'] = kk_cl['เดือน/ปี'].dt.month
kk_cl['ปี'] = kk_cl['เดือน/ปี'].dt.year
kk_cl['จังหวัด'] = "ขอนแก่น"
kk_cl1 = kk_cl.drop(['ที่','เดือน/ปี'],axis=1)
kk_cl1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_cl2 = kk_cl1.stack().reset_index()
kk_cl2.rename(columns = {'level_4':'วัน',0:'จำนวนเมฆ'}, inplace = True)
kk_cl3 = kk_cl2[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
kk_cl3

      จังหวัด                  สถานี     วัน  เดือน    ปี  จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011         9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011        10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011        10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011         8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011        10
...       ...                    ...     ...    ...   ...       ...
1755  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022         2
1756  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  ขอนแก่น  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  2.571429

[1760 rows x 6 columns]

In [134]:
np_cl['เดือน'] = np_cl['เดือน/ปี'].dt.month
np_cl['ปี'] = np_cl['เดือน/ปี'].dt.year
np_cl['จังหวัด'] = "นครพนม"
np_cl1 = np_cl.drop(['ที่','เดือน/ปี'],axis=1)
np_cl1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_cl2 = np_cl1.stack().reset_index()
np_cl2.rename(columns = {'level_4':'วัน',0:'จำนวนเมฆ'}, inplace = True)
np_cl3 = np_cl2[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
np_cl3

     จังหวัด                  สถานี     วัน  เดือน    ปี  จำนวนเมฆ
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011        10
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011         7
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011         8
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011         8
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011        10
...      ...                    ...     ...    ...   ...       ...
1755  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022         0
1756  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  นครพนม  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.518519

[1760 rows x 6 columns]

In [135]:
sk_cl['เดือน'] = sk_cl['เดือน/ปี'].dt.month
sk_cl['ปี'] = sk_cl['เดือน/ปี'].dt.year
sk_cl['จังหวัด'] = "สกลนคร"
sk_cl1 = sk_cl.drop(['ที่','เดือน/ปี'],axis=1)
sk_cl1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_cl2 = sk_cl1.stack().reset_index()
sk_cl2.rename(columns = {'level_4':'วัน',0:'จำนวนเมฆ'}, inplace = True)
sk_cl3 = sk_cl2[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
sk_cl3

     จังหวัด                  สถานี     วัน  เดือน    ปี  จำนวนเมฆ
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011         9
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011         9
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011         7
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011         7
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011         9
...      ...                    ...     ...    ...   ...       ...
1755  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022         0
1756  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022         1
1757  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022         1
1758  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  สกลนคร  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.678571

[1760 rows x 6 columns]

In [136]:
nk_cl['เดือน'] = nk_cl['เดือน/ปี'].dt.month
nk_cl['ปี'] = nk_cl['เดือน/ปี'].dt.year
nk_cl['จังหวัด'] = "หนองคาย"
nk_cl1 = nk_cl.drop(['ที่','เดือน/ปี'],axis=1)
nk_cl1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_cl2 = nk_cl1.stack().reset_index()
nk_cl2.rename(columns = {'level_4':'วัน',0:'จำนวนเมฆ'}, inplace = True)
nk_cl3 = nk_cl2[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
nk_cl3

      จังหวัด                  สถานี     วัน  เดือน    ปี  จำนวนเมฆ
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011        10
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011        10
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011         8
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011         9
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011         9
...       ...                    ...     ...    ...   ...       ...
1752  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022         2
1753  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022         1
1754  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022         1
1755  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022         -
1756  หนองคาย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.566667

[1757 rows x 6 columns]

In [137]:
l_cl['เดือน'] = l_cl['เดือน/ปี'].dt.month
l_cl['ปี'] = l_cl['เดือน/ปี'].dt.year
l_cl['จังหวัด'] = "เลย"
l_cl1 = l_cl.drop(['ที่','เดือน/ปี','Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44'],axis=1)
l_cl1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_cl2 = l_cl1.stack().reset_index()
l_cl2.rename(columns = {'level_4':'วัน',0:'จำนวนเมฆ'}, inplace = True)
l_cl3 = l_cl2[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
l_cl3

     จังหวัด                  สถานี     วัน  เดือน    ปี  จำนวนเมฆ
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011         8
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011        10
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011        10
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011         9
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011         8
...      ...                    ...     ...    ...   ...       ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022         2
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.925926

[1760 rows x 6 columns]

## ปริมาณฝน (_rain)

In [38]:
kk_rain.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_rain.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_rain.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_rain.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_rain.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [138]:
kk_rain['เดือน'] = kk_rain['เดือน/ปี'].dt.month
kk_rain['ปี'] = kk_rain['เดือน/ปี'].dt.year
kk_rain['จังหวัด'] = "ขอนแก่น"
kk_rain1 = kk_rain.drop(['ที่','เดือน/ปี'],axis=1)
kk_rain1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_rain2 = kk_rain1.stack().reset_index()
kk_rain2.rename(columns = {'level_4':'วัน',0:'ปริมาณฝน'}, inplace = True)
kk_rain3 = kk_rain2[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
kk_rain3

      จังหวัด                     สถานี     วัน  เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011      2.2
...       ...                       ...     ...    ...   ...      ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022        -
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022        -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022        -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022        -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022     45.2

[1760 rows x 6 columns]

In [139]:
np_rain['เดือน'] = np_rain['เดือน/ปี'].dt.month
np_rain['ปี'] = np_rain['เดือน/ปี'].dt.year
np_rain['จังหวัด'] = "นครพนม"
np_rain1 = np_rain.drop(['ที่','เดือน/ปี'],axis=1)
np_rain1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_rain2 = np_rain1.stack().reset_index()
np_rain2.rename(columns = {'level_4':'วัน',0:'ปริมาณฝน'}, inplace = True)
np_rain3 = np_rain2[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
np_rain3

     จังหวัด                   สถานี     วัน  เดือน    ปี ปริมาณฝน
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011       17
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011      0.3
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011        0
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011      0.3
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011      1.9
...      ...                     ...     ...    ...   ...      ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022        0
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022        -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022        -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022        -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022     21.7

[1760 rows x 6 columns]

In [140]:
sk_rain['เดือน'] = sk_rain['เดือน/ปี'].dt.month
sk_rain['ปี'] = sk_rain['เดือน/ปี'].dt.year
sk_rain['จังหวัด'] = "สกลนคร"
sk_rain1 = sk_rain.drop(['ที่','เดือน/ปี'],axis=1)
sk_rain1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_rain2 = sk_rain1.stack().reset_index()
sk_rain2.rename(columns = {'level_4':'วัน',0:'ปริมาณฝน'}, inplace = True)
sk_rain3 = sk_rain2[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
sk_rain3

     จังหวัด                   สถานี     วัน  เดือน    ปี ปริมาณฝน
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011     84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011     28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011        0
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011        T
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011      5.5
...      ...                     ...     ...    ...   ...      ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022        -
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022        -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022        -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022        -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022     38.8

[1760 rows x 6 columns]

In [141]:
nk_rain['เดือน'] = nk_rain['เดือน/ปี'].dt.month
nk_rain['ปี'] = nk_rain['เดือน/ปี'].dt.year
nk_rain['จังหวัด'] = "หนองคาย"
nk_rain1 = nk_rain.drop(['ที่','เดือน/ปี'],axis=1)
nk_rain1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_rain2 = nk_rain1.stack().reset_index()
nk_rain2.rename(columns = {'level_4':'วัน',0:'ปริมาณฝน'}, inplace = True)
nk_rain3 = nk_rain2[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
nk_rain3

      จังหวัด                     สถานี     วัน  เดือน    ปี ปริมาณฝน
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011     48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011       59
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011        0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011        1
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011     19.1
...       ...                       ...     ...    ...   ...      ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022        0
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022        -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022        -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022        -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022    148.4

[1760 rows x 6 columns]

In [142]:
l_rain['เดือน'] = l_rain['เดือน/ปี'].dt.month
l_rain['ปี'] = l_rain['เดือน/ปี'].dt.year
l_rain['จังหวัด'] = "เลย"
l_rain1 = l_rain.drop(['ที่','เดือน/ปี'],axis=1)
l_rain1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_rain2 = l_rain1.stack().reset_index()
l_rain2.rename(columns = {'level_4':'วัน',0:'ปริมาณฝน'}, inplace = True)
l_rain3 = l_rain2[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
l_rain3

     จังหวัด             สถานี     วัน  เดือน    ปี ปริมาณฝน
0        เลย  353201-เลย จ.เลย       1     10  2011     21.6
1        เลย  353201-เลย จ.เลย       2     10  2011    111.4
2        เลย  353201-เลย จ.เลย       3     10  2011      0.4
3        เลย  353201-เลย จ.เลย       4     10  2011        0
4        เลย  353201-เลย จ.เลย       5     10  2011        0
...      ...               ...     ...    ...   ...      ...
1753     เลย  353201-เลย จ.เลย      28      2  2022        0
1754     เลย  353201-เลย จ.เลย      29      2  2022        -
1755     เลย  353201-เลย จ.เลย      30      2  2022        -
1756     เลย  353201-เลย จ.เลย      31      2  2022        -
1757     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2022     74.1

[1758 rows x 6 columns]

## ความเร็วลม (_wind)

In [40]:
kk_wind.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
np_wind.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sk_wind.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nk_wind.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
l_wind.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [143]:
kk_wind['เดือน'] = kk_wind['เดือน/ปี'].dt.month
kk_wind['ปี'] = kk_wind['เดือน/ปี'].dt.year
kk_wind['จังหวัด'] = "ขอนแก่น"
kk_wind1 = kk_wind.drop(['ที่','เดือน/ปี'],axis=1)
kk_wind1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
kk_wind2 = kk_wind1.stack().reset_index()
kk_wind2.rename(columns = {'level_4':'วัน',0:'ความเร็วลม'}, inplace = True)
kk_wind3 = kk_wind2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
kk_wind3

      จังหวัด                  สถานี     วัน  เดือน    ปี ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011          2
...       ...                    ...     ...    ...   ...        ...
1755  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  ขอนแก่น  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.571429

[1760 rows x 6 columns]

In [144]:
np_wind['เดือน'] = np_wind['เดือน/ปี'].dt.month
np_wind['ปี'] = np_wind['เดือน/ปี'].dt.year
np_wind['จังหวัด'] = "นครพนม"
np_wind1 = np_wind.drop(['ที่','เดือน/ปี'],axis=1)
np_wind1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
np_wind2 = np_wind1.stack().reset_index()
np_wind2.rename(columns = {'level_4':'วัน',0:'ความเร็วลม'}, inplace = True)
np_wind3 = np_wind2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
np_wind3

     จังหวัด                  สถานี     วัน  เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1755  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022          1
1756  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  นครพนม  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.142857

[1760 rows x 6 columns]

In [145]:
sk_wind['เดือน'] = sk_wind['เดือน/ปี'].dt.month
sk_wind['ปี'] = sk_wind['เดือน/ปี'].dt.year
sk_wind['จังหวัด'] = "สกลนคร"
sk_wind1 = sk_wind.drop(['ที่','เดือน/ปี'],axis=1)
sk_wind1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
sk_wind2 = sk_wind1.stack().reset_index()
sk_wind2.rename(columns = {'level_4':'วัน',0:'ความเร็วลม'}, inplace = True)
sk_wind3 = sk_wind2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
sk_wind3

     จังหวัด                  สถานี     วัน  เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1755  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  สกลนคร  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   3.035714

[1760 rows x 6 columns]

In [146]:
nk_wind['เดือน'] = nk_wind['เดือน/ปี'].dt.month
nk_wind['ปี'] = nk_wind['เดือน/ปี'].dt.year
nk_wind['จังหวัด'] = "หนองคาย"
nk_wind1 = nk_wind.drop(['ที่','เดือน/ปี'],axis=1)
nk_wind1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
nk_wind2 = nk_wind1.stack().reset_index()
nk_wind2.rename(columns = {'level_4':'วัน',0:'ความเร็วลม'}, inplace = True)
nk_wind3 = nk_wind2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
nk_wind3

      จังหวัด                  สถานี     วัน  เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011          4
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011          4
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011          1
...       ...                    ...     ...    ...   ...        ...
1755  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  หนองคาย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.392857

[1760 rows x 6 columns]

In [147]:
l_wind['เดือน'] = l_wind['เดือน/ปี'].dt.month
l_wind['ปี'] = l_wind['เดือน/ปี'].dt.year
l_wind['จังหวัด'] = "เลย"
l_wind1 = l_wind.drop(['ที่','เดือน/ปี'],axis=1)
l_wind1.set_index(['จังหวัด','สถานี','เดือน','ปี'],inplace=True)
l_wind2 = l_wind1.stack().reset_index()
l_wind2.rename(columns = {'level_4':'วัน',0:'ความเร็วลม'}, inplace = True)
l_wind3 = l_wind2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
l_wind3

     จังหวัด                  สถานี     วัน  เดือน    ปี ความเร็วลม
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011          2
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011          2
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011          3
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011          3
...      ...                    ...     ...    ...   ...        ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022          1
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   1.678571

[1760 rows x 6 columns]

# รวม

In [180]:
kk_pres4 = kk_pres3[['จังหวัด','วัน','เดือน','ปี','ความกด']]
kk_hu4 = kk_hu3[['จังหวัด','วัน','เดือน','ปี','ความชื้น']]
kk_dry4 = kk_dry3[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
kk_dewp4 = kk_dewp3[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
kk_lowt4 = kk_lowt3[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตำ่สุด']]
kk_cl4 = kk_cl3[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']]
kk_rain4 = kk_rain3[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
kk_wind4 = kk_wind3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]

In [187]:
kk1 = pd.merge(kk_pres4,kk_hu4)
kk2 = pd.merge(kk1,kk_dry4)
kk3 = pd.merge(kk2,kk_dewp4)
kk4 = pd.merge(kk3,kk_lowt4)
kk5 = pd.merge(kk4,kk_cl4)
kk6 = pd.merge(kk5,kk_rain4)
kk7 = pd.merge(kk6,kk_wind4)
kk7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้น,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตำ่สุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,1,10,2011,1005.47,83,27.6,24.2,24.8,9,1.4,3
1,ขอนแก่น,2,10,2011,1006.65,92,25.6,24.0,23.0,10,17.7,2
2,ขอนแก่น,3,10,2011,1007.49,86,25.6,22.9,22.1,10,3,3
3,ขอนแก่น,4,10,2011,1008.28,80,25.8,21.9,22.8,8,0,2
4,ขอนแก่น,5,10,2011,1009.88,86,24.3,21.7,23.1,10,2.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1755,ขอนแก่น,28,2,2022,1013.04,62,25.9,17.5,-,2,-,2
1756,ขอนแก่น,29,2,2022,1013.37,-,-,-,-,-,-,-
1757,ขอนแก่น,30,2,2022,1013.98,-,-,-,-,-,-,-
1758,ขอนแก่น,31,2,2022,-,-,-,-,-,-,-,-
1759,ขอนแก่น,เฉลี่ย,2,2022,1012.456667,69,24.6,17.978571,20.2,2.571429,45.2,2.571429